mixin movieBlock(movie = {})
    .movieBlock
        a(herf=`/${movie.id}`)
            h1=movie.title
.home
    h1 Movies
        .movies
            each item in movies
                +movie({
                    id: movies.id,
                    title: movies.title
                })
.Filter
    if yearFilter.length !== 0
        h1 Seraching by year: #{year1}
            .year
                each year in yearFilter
                    +movie({
                        id: year.id,
                        title: year.title
                    })
    elseif rateFilter.length !== 0
        h1 Seraching by rating: #{rating1}
            .rating
                each rating in rateFilter
                    +movie({
                        id: rating.id,
                        title: rating.title
                    })
    h1  No result
    

//block content
    .videos
        each item in videos
            +videoBlock({
                id: item.id,
                title: item.title,
                views: item.views,
                videoFile: item.fileUrl
            })


//const filtering = (req, res) => {
    const { query: { year: year1, rating: rating1 } } = req;
    const yearFilter = getMovieByMinimumYear(year1);
    const rateFilter = getMovieByMinimumRating(rating1);
    res.render("movies", { pageTitle: "Filtering", year1, rating1, yearFilter, rateFilter })
}


.details
    h1=details.id
        h3=details.synopsis
            .genres
                ul=details.genres



//const movieDetail = (req, res) => {
    const { params: { id } } = req;
    const details = getMovieById(id);
    res.render("detail", {pageTitle:"Details", details});
}